<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,600;0,800;1,600&display=swap" rel="stylesheet">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ pageTitle }}</title>
  <link rel="stylesheet" href="{{ '/css/style.css' | url }}">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
  <div class="container">
    <header>
      <nav>
      <a href="/">← Home</a>
      </nav>
      <h1 class="title">
        {% if title.article %}
        “{{ title.article }}”
        {% endif %}

        {% if title.book %}
        <span class="book-title">{{ title.book }}</span>
        {% endif %}

        {% if title.year %}
        <span class="year">({{ title.year }})</span>
        {% endif %}
      </h1>

      {% if author %}
      <p class="author">{{ author }}</p>
      {% endif %}

      {% if abstract %}
      <p class="abstract">{{ abstract }}</p>
      {% endif %}

    </header>

    <main>
      {{ content | safe }}
      <!-- Buy Me a Coffee button -->
  <div class="bmc-button">
    <a href="https://www.buymeacoffee.com/alittlesense" target="_blank" rel="noopener">
      <img src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png" alt="Buy Me a Coffee" style="height: 50px;">
    </a>
  </div>
      <p><a href="/">← Back to Home</a></p>
    </main>

    <footer>
      <p>This work is licensed under <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a><img src="https://mirrors.creativecommons.org/presskit/icons/cc.svg" alt="" style="max-width: 1em;max-height:1em;margin-left: .2em;"><img src="https://mirrors.creativecommons.org/presskit/icons/by.svg" alt="" style="max-width: 1em;max-height:1em;margin-left: .2em;"><img src="https://mirrors.creativecommons.org/presskit/icons/nc.svg" alt="" style="max-width: 1em;max-height:1em;margin-left: .2em;"><img src="https://mirrors.creativecommons.org/presskit/icons/sa.svg" alt="" style="max-width: 1em;max-height:1em;margin-left: .2em;"></p>
    </footer>
  </div>
</body>
</html>
